@import "../../../node_modules/semantic-ui-sass/semantic-ui";

// TODO move away from node-sass-chokidar since webpack will do this anyway
// TODO also might want to remove the run-p stuff
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app-logo {
  margin: 0 auto;
  animation: app-logo-spin infinite 20s linear;
  height: 100px;
  width: 100px;
}

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
