// Sizing

$global-font-size: 1rem;
$global-spacing-quarter: .25rem;
$global-spacing-half: .5rem;
$global-spacing: 1rem;
$global-spacing-2x: 2rem;
$global-spacing-3x: 3rem;
$global-spacing-4x: 4rem;
$global-spacing-6x: 6rem;


// Colors

$color-primary: #4183C4;
$color-secondary: #1e70bf;
$white: #ffffff;
